@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-darkBrown: #6F4E37;
  --color-lightBrown: #BE9B7B;
  --font-libre: "Libre Caslon Display", serif;
  --font-inika: "Inika", serif;
  --color-lightBrownBG: #DEC28C;
}
* {
  box-sizing: border-box;
}